# Ignore everything by default
*

# Allow git metadata
!.gitignore

# Allow directory traversal
!*/

# --- Explicitly tracked configs ---
!kitty/
!kitty/**

!nvim/
!nvim/**

!hypr/
!hypr/**

!waybar/
!waybar/**

!alacritty/
!alacritty/**

!fish/
!fish/**

!bob/
!bob/**

!wlogout/
!wlogout/**

!swaylock/
!swaylock/**

!dotfiles/
!dotfiles/**
